body{
    width: 100%;
    height: 100%;
    margin: 0;
    min-width: 360px;
    padding: 0;
    background-color: #f2efef;
}
body, html {
    font-family: Arial, sans-serif;
}   
.blog-post-card {
}
.blog-post-card {
    min-width: 300px;
    background-color: white;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    width: 350px;
    min-width: 350px;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 10px 10px  5px rgba(0,0,0,0.1);
    text-align: center;
    /* overflow: hidden; */
    padding: 0%;
}
.post-content {
    height: auto;
    margin: auto auto 30px auto;
}

.post-content p {
    padding: 0% 10px 0 10px;
    margin: 10px 10px 30px 10px;
    color: #383434;
}
.blog-post-card .post-img {
    width: 100%;
    object-fit: cover;
    border: #ccc 1px solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
a.read-more:link {
    margin: 10px auto;
    text-decoration: none;
    background-color: rgb(59, 58, 58);
    padding: 10px 15px;
    color: white;
    border-radius: 5px;
}

a.read-more:hover{
    background-color: rgb(96, 95, 95);
}



