CSSa:active{
    color: rgb(223, 204, 204);
    text-decoration: underline;
}
CSSa:link{
    color: rgb(18, 162, 59);
    text-decoration: none;
}

CSSa:hover{
    color: rgb(20, 31, 23);
    text-decoration: underline;
}

CSSa:visited{
    color: green;
    text-decoration: underline;
}


